.totalBox {
    height: 782px;
    width: 859px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 0px rgba(190, 190, 190, 0.48);
    position: relative;
    /* box-sizing: border-box; */
}

/* 전체 내용 묶음  */
.totalInfo {
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 365px;
}

/* 가계부 수정, 제목 파트 */
.nameRow {
    text-align: center;
    margin: 0 auto;
    height: 60px;
    width: 429px;
    position: absolute;
    top: 30px;
    left: 60px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.totalBox > .totalInfo > .nameRow > div > h2 {
    margin: 0;
    line-height: 1;
    display: flex;
    height: 100%;
}

/* 세부 입력박스 파트 */
.infoRow {
    width: 90%;
    height: auto;
    position: relative;
    margin-top: -100px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.required::after {
    content: ' *';
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.form-group > label {
    font-size: 20px;
    font-weight: bold;
    flex: 0 0 150px;
}

.form-group select,
.form-group input {
    flex: 1;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
}

/* 일자, 시간 토막내기, 아이콘 크기 */
#date,
#time {
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    margin: 30px 0 15px 15px;
    cursor: pointer;
}

i {
    width: 30px;
    font-size: 35px;
}

/* 버튼 디자인 */
.btnGroup {
    width: 960px;
    height: 100px;
    display: flex;
    margin-bottom: 100px;
    margin: 0 auto;
    position: relative;
    margin-left: 245.75px;
}

/* 859px 429.5px 214.75 */
.btnGroup > button {
    width: 120px;
    height: 75px;
    background-color: gray;
    border-radius: 30px;
    font-size: 1.25em;
    border-color: gray;
}
.btnGroup > button:hover {
    cursor: pointer;
    background-color: orange;
    border-color: orange;
}
