/* .totalBox {
    height: 782px;
    width: 859px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 0px rgba(190, 190, 190, 0.48);
    position: relative;
    top: -15px;
    overflow: hidden;
} */

/* 전체 내용 묶음  */
.totalInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 385.5px;
}

/* 가계부 수정, 제목 파트 */
.nameRow {
    text-align: center;
    margin: 0 auto;
    height: 60px;
    width: 429px;
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.totalBox > .totalInfo > .nameRow > div > h2 {
    margin: 0;
    line-height: 1;
    display: flex;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

/* 세부 입력박스 파트 */
.infoRow {
    width: 90%;
    height: auto;
    position: relative;
    margin-top: -80px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.required::after {
    content: ' *';
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.infoRow > .col > .form-group > label {
    font-size: 24px;
    flex: 0 0 150px;
    font-weight: bold;
    font-family: 'Arial', 'Helvetica', sans-serif;
    /* position: absolute; */
}

.infoRow .col .form-group select,
.infoRow .col .form-group input {
    width: 600px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    left: 27px;
    margin-bottom: 15px;
}

/* 일자, 시간 토막내기, 아이콘 크기 */
#date,
#time {
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    margin: 30px 0 15px 15px;
    cursor: pointer;
}

i {
    width: 30px;
    font-size: 35px;
}

/* 버튼 디자인 */
.btnGroup {
    width: 960px;
    height: 100px;
    display: flex;
    margin-bottom: 100px;
    margin: 0 auto;
    position: relative;
    margin-left: 245.75px;
}

/* 859px 429.5px 214.75 */
.btnGroup > button {
    width: 100px;
    height: 40px;
    background-color: rgb(255, 204, 80);
    border-radius: 10px;
    font-size: 1.25em;
    border: none;
}
.btnGroup > button:hover {
    cursor: pointer;
    background-color: orange;
    border-color: orange;
}
input[type='date'] {
    position: relative;
    min-height: 30px;
    background: url(../assets/calendar.svg) no-repeat right
        10px center / 35px auto;
    padding: 10px 12px;
    border: 1px solid white;
    font-size: 20px;
    font-weight: 700;
}

input[type='date']::-webkit-clear-button,
input[type='date']::-webkit-inner-spin-button {
    display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    z-index: 1;
}
input[type='time'] {
    position: relative;
    min-height: 30px;
    background: url(../assets/clock.svg) no-repeat right
        10px center / 35px auto;
    padding: 10px 12px;
    border: 1px solid white;
    font-size: 20px;
    font-weight: 700;
}

input[type='time']::-webkit-clear-button,
input[type='time']::-webkit-inner-spin-button {
    display: none;
}

input[type='time']::-webkit-calendar-picker-indicator {
    background: transparent;
    z-index: 1;
}
